omnetpp-workspace/inet/*
Programs/*
f2md-results/*Scenario*
oldExecutionScript
awesome-program.txt
awesome-program-copy.txt
run-log.txt
traci-log.txt
ml-server-log.txt
client-log.txt
server-log.txt
whole-log.txt